<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'header.html' %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 10px">
            <h4>Update Product</h4>
        </div>
    </div>
    <form class="form-horizontal" id="edit_product_form" data-id="{{ obj.id }}">
        <div class="form-group">
            <label class="control-label col-sm-2">Product name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="product_name" name="product_name"
                       placeholder="Product Name" value = "{{ obj.product_name }}">
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-sm-2">Price:</label>
            <div class="col-sm-10">
                <input class="form-control" id="price" name="price"
                       placeholder="Price" value = "{{ obj.price }}">
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-sm-2">Rating:</label>
            <div class="col-sm-10">
                <input class="form-control" id="Rating" name="rating"
                       placeholder="Rating" value = "{{ obj.rating }}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Product type:</label>
            <div class="col-sm-10">
                <input class="form-control" id="product_type" name="product_type"
                       placeholder="Product type" value = "{{ obj.product_type }}">
            </div>
        </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" onclick="edit()">Submit</button>
            </div>
        </div>
    </div>

</div>

</body>
{% include 'footer.html' %}
<script>
    let edit = () => {
        removeError()

        var array = $("#edit_product_form").serializeArray();
        var data = {};

        $.map(array, function(n, i){
            data[n['name']] = n['value'];
        });

        $.ajax({
            url: `/product/edit/${$("#edit_product_form").data('id')}`,
            type: 'PUT',
            data: data,
        })
        .done(function(response) {
            window.location.href = `${window.location.protocol}//${window.location.host}/product`
        })
        .fail(function(error) {
            showError(error.responseText);
        });
    }

</script>
</html>