<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    var table;
    let editOnClick = (type, id) => {
        window.location.href = `${window.location.protocol}//${window.location.host}/${type}/edit/${id}`
    };
    let deleteOnClick = (type, id) => {
        $.ajax({
            url: `/${type}/delete/${id}`,
            type: 'DELETE',
        })
        .done(function(response) {
            window.location.href = `${window.location.protocol}//${window.location.host}/${type}`
        })
        .fail(function(error) {
            showError(error.responseText);
        });
    };
    let createOnClick = (type) => {
        window.location.href = `${window.location.protocol}//${window.location.host}/${type}/create`
    };
    let showError = (string_errors) => {
        const errors = JSON.parse(string_errors)

        for (const error of errors) {
            $(`#${error.key}_invalid`).text(error.message)
            $(`#${error.key}_invalid`).addClass("hasError")
            $(`#${error.key}_invalid`).parent().addClass("hasError")
        }
    };
    let removeError = () => {
        $(".hasError").removeClass("hasError")
        $("[id*='_invalid']").text("")
    };
</script>